@media screen {
  body {
    margin: 0;
  }

  #split {
    display: flex;
    overflow: hidden;
  }

  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  #overlay .floating {
    z-index: 100;
    position: absolute;
  }

  #overlay .report {
    bottom: 7px;
    left: calc(50vw - 65px);
  }

  #overlay .report input {
    display: none;
  }

  #overlay .report label {
    display: block;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
    padding: 10px 15px;
  }

  #overlay .report label:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
  }

  #overlay .report input:checked + .tooltip {
    visibility: visible;
    opacity: 1;
  }

  #overlay .report .tooltip {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
    position: absolute;
    bottom: 55px;
    right: 0;
    width: 30vw;
    z-index: 100;
    background-color: #FFFBE7;
    color: #624210;
    font-size: 13px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    max-height: calc(100vh - 80px);
    overflow: scroll;
  }

  #overlay .report .tooltip p {
    margin: 5px 20px;
  }

  #overlay .report .tooltip p:last-child {
    color: #FFFBE7;
    background-color: #624210;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 0;
    padding: 8px 20px;
    position: sticky;
    bottom: 0;
  }

  #overlay .report .tooltip p:first-child {
    color: inherit;
    background-color: inherit;
    padding: 0;
    margin: 15px 20px 5px;
    font-weight: inherit;
    font-size: 13px;
  }

  #overlay .report .tooltip p:first-child:last-child {
    margin: 15px 20px 15px;
  }

  .main {
    width: 50vw;
    height: 100vh;
  }

  #editor {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  #editor textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    box-sizing: border-box;
    padding: 20px;
    resize: none;
    background-color: #fff;
    color: #555;
  }

  #viewer {
    overflow-y: hidden;
    background-color: #eee;
    position: relative;
  }

  #viewer .sheet {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  #viewer .sheet.hide {
    display: none;
  }

  #viewer .button {
    top: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    transition: 0.3s all;
    cursor: pointer;
    z-index: 1;
  }

  #viewer .button:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  #viewer .button::after {
    content: '';
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    position: absolute;
    right: 6px;
    top: 45px;
    transform: rotate(-45deg);
  }

  #viewer .button:hover::after {
    border-left: solid 1px rgba(0, 0, 0, 0.5);
    border-top: solid 1px rgba(0, 0, 0, 0.5);
  }

  #viewer .button.left {
    left: 0;
    transform: translate(-50%, -50%);
  }

  #viewer .button.right {
    right: 0;
    transform: translate(50%, -50%) rotate(180deg);
  }

  #viewer .page-number {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    z-index: 2;
    padding: 6px 14px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: 0.3s all;
    cursor: default;
  }

  #viewer .page-number:hover {
    opacity: 0;
  }
}

#viewer .sheet {
  background-color: #fff;
  height: 257mm;
  width: 182mm;
  page-break-after: always;
  padding: 60px;
  box-sizing: border-box;
}

@media print {
  .noprint {
    display: none;
  }
}

@page {
  size: JIS-B5;
  margin: 0mm;
}
