body {
  margin: 0;
  display: flex;
  overflow: hidden;
}

.main {
  width: 50vw;
  height: 100vh;
}

#editor textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  resize: none;
  background-color: #eee;
}

#viewer {
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 60px;
}

#viewer .container {
  overflow: scroll;
}
