:root {
  --editor-padding: 30px;
  --floating-left: 64px;
  --floating-bottom: 8px;
  --floating-interval: 55px;
}

@media screen {
  body {
    font-family: 'Avenir Next', arial, sans-serif;
  }

  #split {
    display: flex;
    overflow: hidden;
  }

  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  #overlay .floating {
    z-index: 3;
    position: absolute;
  }

  #overlay .floating input {
    display: none;
  }

  #overlay .floating .button {
    display: block;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
    padding: 10px 15px 6px;
    cursor: pointer;
  }

  #overlay .floating .button:hover {
    background-color: #fafafa;
    border-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
  }

  #overlay .floating .label {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
    font-size: 10px;
    background-color: #222;
    color: rgba(255, 255, 255, 0.9);
    padding: 7px 10px 4px;
    border-radius: 3px;
    z-index: 2;
    cursor: default;
    --webkit-user-select: none;
  }

  #overlay .floating .label::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    background-color: #222;
  }

  #overlay .floating .button:hover ~ .label {
    visibility: visible;
    opacity: 1;
  }

  #overlay .floating input:checked ~ .tooltip {
    visibility: visible;
    opacity: 1;
  }

  #overlay .report .tooltip {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
    position: absolute;
    bottom: 55px;
    right: 0;
    width: 30vw;
    z-index: 1;
    background-color: #FFFBE7;
    color: #624210;
    font-size: 13px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    max-height: calc(100vh - 80px);
    overflow: scroll;
  }

  #overlay .report .tooltip p {
    margin: 5px 20px;
  }

  #overlay .report .tooltip p:last-child {
    color: #FFFBE7;
    background-color: #624210;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 0;
    padding: 8px 20px;
    position: sticky;
    bottom: 0;
  }

  #overlay .report .tooltip p:first-child {
    color: inherit;
    background-color: inherit;
    padding: 0;
    margin: 15px 20px 5px;
    font-weight: inherit;
    font-size: 13px;
  }

  #overlay .report .tooltip p:first-child:last-child {
    margin: 15px 20px 15px;
  }

  #overlay .report {
    bottom: var(--floating-bottom);
    left: calc(50vw - (var(--floating-left) + var(--floating-interval) * 0));
  }

  #overlay .export {
    bottom: var(--floating-bottom);
    left: calc(50vw - (var(--floating-left) + var(--floating-interval) * 1));
  }

  #overlay .file {
    bottom: var(--floating-bottom);
    left: calc(50vw - (var(--floating-left) + var(--floating-interval) * 2));
  }

  #overlay .save {
    bottom: var(--floating-bottom);
    left: calc(50vw - (var(--floating-left) + var(--floating-interval) * 3));
  }

  #overlay .new {
    bottom: var(--floating-bottom);
    left: calc(50vw - (var(--floating-left) + var(--floating-interval) * 4));
  }

  .main {
    width: 50vw;
    height: 100vh;
  }

  #editor {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
  }

  #editor textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    padding: 40px var(--editor-padding) var(--editor-padding) var(--editor-padding);
    resize: none;
    background-color: #fff;
    color: #555;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  }

  #editor .titlebar-gradient {
    -webkit-app-region: drag;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--editor-padding));
    height: 45px;
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(255, 255, 255, 0));
  }

  #editor .dropper {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #editor .dropper.active {
    display: block;
  }

  #viewer {
    -webkit-app-region: drag;
    overflow: hidden;
    background-color: #eee;
    position: relative;
    z-index: 1;
  }

  #viewer > * {
    -webkit-app-region: no-drag;
  }

  #viewer .sheet {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  #viewer .sheet.hide {
    display: none;
  }

  #viewer .button {
    top: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    transition: 0.3s all;
    cursor: pointer;
    z-index: 1;
  }

  #viewer .button:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  #viewer .button::after {
    content: '';
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    position: absolute;
    right: 6px;
    top: 45px;
    transform: rotate(-45deg);
  }

  #viewer .button:hover::after {
    border-left: solid 1px rgba(0, 0, 0, 0.5);
    border-top: solid 1px rgba(0, 0, 0, 0.5);
  }

  #viewer .button.left {
    left: 0;
    transform: translate(-50%, -50%);
  }

  #viewer .button.right {
    right: 0;
    transform: translate(50%, -50%) rotate(180deg);
  }

  #viewer .page-number {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    z-index: 2;
    padding: 6px 14px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: 0.3s all;
    cursor: default;
    -webkit-user-select: none;
  }

  #viewer .page-number:hover {
    opacity: 0;
  }
}

#viewer .sheet {
  background-color: #fff;
  height: 257mm;
  width: 182mm;
  page-break-after: always;
  padding: 60px;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

@media print {
  .noprint {
    display: none;
  }
}

@page {
  size: JIS-B5;
  margin: 0mm;
}
